body {
    background-color: rgb(50,50,50);
}
section {
    margin-top: 150px;
}
section p {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: black 0px 6px 10px 0px;
    padding: 10px;
    width: 10%;
    transition:transform 0.15s ease-in-out 0.1s;
}
section form {
    display: inline-flex;
    border-radius: 10px;
    margin-right: 20px;
}
section article {
    display: inline-flex;
    margin: 1rem;
    width: 100%;
    text-align: center;
}
section h3 {
    background-color: white;
    padding: 10px;
    font-weight: bold;
    color: rgb(39, 144, 34);
    background-color: black;
    margin: auto;
    transition: .3s;
}
section form input {
    border: none;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.formulario {
    display: inline-flex;
    background-color: black;
    box-shadow: black 0px 6px 10px 0px;
}
#btnCalcular {
    background-color: rgb(39, 144, 34);
    color: white;
    font-weight: bold;
    font-size: 2em;
    box-shadow: black 5px 5px 15px;
    border: none;
    float: right;
    margin: 0px 40px;
    transition: .5s;
}
section p:hover {
    transform: scale(1.1);
}
#btnCalcular:hover {
    color: black;
}
section h3:hover {
    color: white;
}